[alias]
	ch = checkout
	aa = add -A
	p = push
	pf = push --force
	po =  "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	chb = checkout -b
	a = add
	cm = commit -m
	pl = pull
	fpl = "!f() { git fetch origin $1:$1; }; f"
	rb = rebase
	recent = "branch --sort=-committerdate"
