[alias]
	ch = checkout
	aa = add -A
	p = push
	pf = push --force
        po = push --set-upstream origin
	chb = checkout -b
	a = add
	cm = commit -m
	pl = pull
	rb = rebase
	recent = "branch --sort=-committerdate"
